body {
  margin: 0px;
}

canvas {
  background-color: lightblue;
  margin: 20px;
  background-image: url("https://en.wikipedia.org/wiki/Cat#/media/File:Cat_August_2010-4.jpg");
}

img {
  display: none;
}
